.App {
  text-align: center;
}

.ReviewList {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.ReviewCard {
  border-color: purple;
  border-width: 1px;
  border-style: solid;
}

.ReviewImage {
  height: 300px;
}

.ReviewBody {
  width: 600px;
  text-align: center;
}

.FullReview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeftButton {
  align-self: flex-start;
}